/* Fix */
img                         {display: block;font-family: Helvetica, Arial, sans-serif;font-weight: 300;height: auto;line-height: 2;position: relative;text-align: center;width: 100%;}
img:before                  {content: "We're sorry, the image below is broken :(";display: block;margin-bottom: 10px;}
img:after                   {content: "(url: " attr(src) ")";display: block;font-size: 12px;}
video[autoplay]:not([muted]) {display: none;}