/* Helper */
.center                             {text-align: center}
.float_right                        {float:right;}
.float_left                         {float:left;}
.invisible                          {visibility: hidden;}
.clearfix:before,
.clearfix:after                     {content: " ";display: table;}
.clearfix:after                     {clear: both;}
.unstyled ul,.unstyled              {list-style:none}
.inline li                          {display: inline-block}
.inline li a                        {display: block}
.midpoint                           {-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}

/* Global */
html                                {box-sizing: border-box;}
*, *:before, *:after                {box-sizing: inherit;}
::-moz-selection,::selection        {background: #b3d4fc;text-shadow: none;}
html                                {color: #222;font-size: 1rem;line-height: 1.4;}
audio,canvas,iframe,img,svg,video   {vertical-align: middle;}
img                                 {display: block;max-width: 100%;height:auto;}
a                                   {}
hr                                  {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}
body                                {min-width:320px}

/* Procedural */

/* Style */
.header                             {}
.main                               {}
.side                               {}
.footer                             {}
